body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.28;
}

.chat-box {
  position: relative;
  width: 250px;
  height: 300px;
}

.top-bar {
  background: #4285f4;
  color: white;
  height: 20px;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
}

.top-bar p {
  display: inline;
  font-size: 1.1rem;
}

.top-bar .left {
  float: left;
}

.top-bar .right {
  float: right;
  padding-top: 5px;
}

.top-bar > * {
  position: relative;
}

.top-bar::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  opacity: 0.25;
}

.remove {
  position: absolute;
  right: 15px;
  font-weight: 900;
  cursor: pointer;
}

.chat-text {
  list-style: none;
  background: #e5e5e5;
  margin: 0;
  padding: 0;
  height: 230px;
  overflow: auto;
}

.chat-text li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}

.chat-text .user-id {
  width: 40px;
  position: relative;
}

.user-id .id {
  width: 100%;
  display: block
}

.other .user-id:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
}

.self .user-message {
  order: 1;
  background-color: #4285f4;
  color: white;
  border-bottom-right-radius: 0;
}

.self .user-id {
  order: 2;
  text-align: right;
}

.self .user-id:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid #4285f4;
  border-right-color: transparent;
  border-top-color: transparent;
}

.user-message {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.user-message p {
  font-size: 0.8rem;
  margin: 0 0 0.2rem 0;
}

.typing-area {
  position: absolute;
  width: 80%;
  height: 30px;
  font-size: 20px;
  background: #FFF;
  padding: 0;
  border: none;
  font-size: 0.8rem;
}

textarea:focus, input:focus, button:focus {
    outline: none;
}

.typing-area {
  padding-left: 5px;
}

#send {
  position: absolute;
  right: 0;
  border: none;
  background: #FFF;
  font-size: 15px;
  color: #4285f4;
  cursor: pointer;
  height: 30px;
}
